In [1]:
%%sql $CONNECT_DATA
SELECT passenger_name,
       (SELECT departure_airport FROM Ticket_flights WHERE flight_id = 
           (SELECT flight_id FROM Tickets WHERE ticket_no = '0005432312164')) AS departure_airport,
       (SELECT arrival_airport FROM Ticket_flights WHERE flight_id = 
           (SELECT flight_id FROM Tickets WHERE ticket_no = '0005432312164')) AS arrival_airport
FROM Tickets
WHERE ticket_no = '0005432312164';

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql $CONNECT_DATA
SELECT passenger_name, departure_airport, arrival_airport 
FROM Tickets_flat 
WHERE ticket_no = '0005432312164';

In [ ]:
%%sql $CONNECT_DATA
SELECT passenger_name, 
       Ticket_flights.departure_airport, 
       Ticket_flights.arrival_airport
FROM Tickets 
JOIN Ticket_flights ON Tickets.flight_id = Ticket_flights.flight_id
WHERE Tickets.ticket_no = '0005432312164';

In [ ]:
%%sql $CONNECT_DATA
SELECT Departure_Cities.city_name AS departure_city, 
       Arrival_Cities.city_name AS arrival_city
FROM Flights
JOIN Ticket_flights ON Flights.flight_id = Ticket_flights.flight_id
JOIN Tickets ON Ticket_flights.ticket_no = Tickets.ticket_no
JOIN Airports AS Departure_Airports ON Flights.departure_airport = Departure_Airports.airport_code
JOIN Cities AS Departure_Cities ON Departure_Airports.city_id = Departure_Cities.city_id
JOIN Airports AS Arrival_Airports ON Flights.arrival_airport = Arrival_Airports.airport_code
JOIN Cities AS Arrival_Cities ON Arrival_Airports.city_id = Arrival_Cities.city_id
WHERE Tickets.passenger_name = 'ELLA DMITRIEVA';

In [ ]:
%%sql $CONNECT_DATA
SELECT aircraft_model, 
       SUM(total_number_of_seats) AS total_seats
FROM Aircrafts
GROUP BY aircraft_model
ORDER BY total_seats;